# Mac stuff
.DS_Store

# Build outputs
dist/
build/
*.egg-info/

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
.conda/
venv/
env/

# IDE
.vscode/
.idea/

# Qt
.qmake.stash

# Testing
.pytest_cache/
.coverage
htmlcov/
docs/_build/
